<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Christopher Street Day Wiesbaden<br>Einfach wertvoll</h1>
            <hr>
            <p>Auch in diesem Jahr wird es warm in Wiesbaden! Am <b>25. Mai 2019</b> gehen wir erneut auf die Straßen von Wiesbaden und demonstrieren für mehr Vielfalt und Toleranz in der Gesellschaft. Neben Politik stehen natürlich auch Kultur, Unterhaltung und die dazugehörige Party im Schlachthof auf dem Tagesprogramm.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Erzähl mir mehr!</a>
        </div>
    </div>
</header>
